.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboardContainer {
    
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
}


.gameboardContainer div {
    width: 200px;
    height: 200px;
    background-color: rgb(176, 119, 119);
}